#OS
.DS_Store
Thumbs.db

#Editor/IDE
.vscode/
.idea/
*.swp
*.swo

#Logs
*.log
logs/
tmp/
temp/

#Environment/secrets
.env
.env.local
.env.*.local
config.local.php

#puload temporanei
uploads/
public/uploads/

# Misc
*.bak
*.tmp