<!doctype html>
<html lang="it" xml:lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[PAGE_TITLE]</title>
    <meta name="description" content="[PAGE_DESCRIPTION]">
    <meta name="keywords" content="[PAGE_KEYWORDS]">
    <link rel="stylesheet" href="[WEB_ROOT]/css/style.css" >
    <link rel="stylesheet" href="[WEB_ROOT]/css/mini.css" media="screen">
    <link rel="stylesheet" href="[WEB_ROOT]/css/print.css" media="print">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>

<a href="#main-content" class="skip-link">Vai al contenuto</a>

<header>
    <div id="logo">
        <h1>[SITE_NAME]</h1>
    </div>

    <nav aria-label="Navigazione principale">
        <ul>
            [NAVIGATION]
        </ul>
    </nav>
</header>

[BREADCRUMB]

<main id="main-content">
